body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-block {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.image {
  width: 28%;
  height: 40vh;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

.image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
}

.image i {
  color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.5s ease;
  background-color: rgba(0, 0, 0, 0.5);
}

.myModal {
  position: absolute;
  width: 80%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  height: 80vh;
  border-radius: 10px;
  padding: 20px;
}

.modal-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.isHidden {
  display: none;
}

.myModal img {
  border-radius: 10px;
}

.image:hover i {
  opacity: 1;
}
